/* ===== RESET ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    background:#f4f6f8;
}

/* ===== HEADER ===== */
.header{
    background:#1f2937;
    color:white;
    padding:25px;
    text-align:center;
    font-size:28px;
    font-weight:600;
}

/* ===== CONTAINER ===== */
.container{
    padding:40px;
    display:grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in one line */
    gap:30px;
}

/* ===== CARD ===== */
.card{
    background:rgb(211, 183, 183);
    border-radius:18px;
    box-shadow:0 12px 30px rgba(0,0,0,0.1);
}

/* ===== IMAGE ===== */
.card img{
    width:100%;
    height:200px;
    object-fit:contain;
    padding:20px;
}

/* ===== CONTENT ===== */
.card-content{
    padding:20px;
}

.card-content h3{
    font-size:20px;
    margin-bottom:10px;
}

.card-content p{
    font-size:15px;
    color:#555;
    margin-bottom:6px;
}

/* ===== BUTTON ===== */
.card-content button{
    margin-top:15px;
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#1f2937;
    color:white;
    font-size:15px;
    cursor:pointer;
}

.card-content button:hover{
    background:#3c3c3e;
}
/* ===== FLOATING HOME BUTTON ===== */
.floating-home{
    position:fixed;
    bottom:25px;
    right:25px;
    background:#1f2937;
    color:white;
    padding:14px 20px;
    border-radius:30px;
    text-decoration:none;
    font-size:15px;
    box-shadow:0 10px 20px rgba(0,0,0,0.2);
}




/* ===== RESPONSIVE ===== */
@media(max-width:1200px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:600px){
    .container{
        grid-template-columns: 1fr;
    }
}
