*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI, sans-serif;}
body{background:#f4f6f9;}

.container{
  max-width:500px;
  margin:60px auto;
  background:white;
  padding:40px;
  border-radius:15px;
  box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:25px;}

input,select,textarea{
  width:100%;
  padding:12px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  width:100%;
  padding:12px;
  border:none;
  background:#2c7be5;
  color:white;
  font-size:16px;
  border-radius:25px;
  cursor:pointer;
}
.back-home{
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  font-size: 14px;
  color: #444;
  background: #ffffff;
  padding: 8px 14px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.back-home:hover{
  background: #2c7be5;
  color: #fff;
}

